#emotionlabel {
    border-radius: 25px;
      min-width: 30%;;
    background-color: #e3e7ed;
    color: black;
    display: inline-block;
    font-weight: bold;
    padding: 10px 20px;
  }

  #emotionradio > input[type=radio]:checked + #emotionlabel{
    color:  white;
    background:  #4CAF50;

  }

  #emotionradio > input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
  }

  #emotionradio {
    font-size: large;
    padding-top: 20%;
    border: black;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    width:100%;
  }